.wrapper {
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.products {
  max-width: 800px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  border: none;
  background-color: rgb(31, 82, 184);
  color: white;
  font-weight: 100;
  font-size: 1.2em;
  padding: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

@media screen and (max-width: 410px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
